# Temporary / Build Files
*.tmp
*.log
/build/
/dist/

# Python Cache Files
**/__pycache__/

# Virtual Environment
.venv/

# Operating System Files
Thumbs.db
.DS_Store

# IDE Specific (Uncomment and Adapt if Necessary)
.idea/

# Files 
/config/default_files/A.txt
/config/default_files/B.txt
