# Temporary / Build Files
*.tmp
*.log
/build/
/dist/

# Python Cache Files
**/__pycache__/

# Virtual Environment
.venv/

# Operating System Files
Thumbs.db
.DS_Store

# IDE Specific (Uncomment and Adapt if Necessary)
.idea/

# Files
/config/default_files/mame0266b_64bit.exe
/config/default_files/pspad507en_x64.zip
/Documents/
